# Exploratory Data Analysis for Multivariate Model

We have analysed teh data considering the target feature alone for modeling and prediction. We can now check the other features present in the data and analyse how they affect the target variable.

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

### Import Data

In [2]:
path = os.getcwd()
path = path.replace('EDA', 'data_preprocessing')
files = os.listdir(path)
for file in files:
    if len(file.split('.csv'))>1:
        csv_path = path+'/'+file
data = pd.read_csv(csv_path)
data['date']=pd.to_datetime(data['date'])

In [3]:
data.head()

,date,domestic_market_contract_low,export_market_spot,domestic_market_spot,wtisplc,mcoilbrenteu,gasregm,impch,expch,prubbusdm,...,brazil_export,germany_export,united_kingdom_export,canada_import,usa_import,india_import,south_africa_import,germany_import,united_kingdom_import,japan_import
0,2000-01-01,41.0,NaN,NaN,27.18,25.51,1.289,6902.1,863.1,29.207387,...,10352529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-02-01,41.0,NaN,NaN,29.35,27.78,1.377,6584.4,972.7,33.391099,...,8844172.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-03-01,45.0,NaN,NaN,29.89,27.49,1.516,6424.1,1330.5,30.941913,...,14091209.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-04-01,47.0,NaN,NaN,25.74,22.76,1.465,7070.5,1227.5,31.930148,...,14097518.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-05-01,47.0,NaN,NaN,28.78,27.74,1.487,7850.2,1526.3,31.201702,...,16762995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN